@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-date-range/dist/styles.css'; // main style file
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import 'react-date-range/dist/theme/default.css'; // theme css file

@import './styles/constants';
@import './styles/utility';
@import './components/global-navbar/global-navbar.scss';
@import './components/ux/input/input.scss';
@import './components/ux/data-range-picker/date-range-picker.scss';
/* Custom theme colors */
:root {
  --primary-dark: #1a0e10;
  --accent-maroon: #800000;
  --accent-gold: #d4af37;
}

body {
  background-color: var(--primary-dark);
  color: white;
  font-family: 'Segoe UI', sans-serif;
}
